@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Manager Order
    </h1>
    <ol class="breadcrumb">
        <li><a href="~/Views/Admin/ManagerAccount.cshtml"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Manager Order</li>
    </ol>
</section>
